apiVersion: v1
kind: Service
metadata:
  name: career-coach-service
  namespace: career-coach
spec:
  selector:
    app: career-coach
  ports:
  - protocol: TCP 
    port: 3000
    targetPort: 3000
  type: LoadBalancer
